{# src/OC/LVBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Plateforme{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    {% endblock %}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    {% endblock %}
    <style>
        
.dateNA span, dateToday a, .dateValid a, .dateDue a, .datePast a {
	box-sizing: border-box !important;
}

.dateNA span {
	background-color: #edecec !important;
    background-image :none !important;
	border: none !important;
    color: #abacac !important;
}

.dateToday a {
	border: solid 2px #ffce0a !important;
	background-color: #fff !important;
    background-image :none !important;
    color: #000 !important;
}

.dateValid a {
	border-size: 2px !important;
	background-color: #fff !important;
    background-image :none !important;
    color: #000 !important;
}

.dateDue a {
	background-color: #ffce0a !important;
    background-image :none !important;
    color: #000 !important;
}

.datePast a {
	background-color: mustard !important;
    background-image :none !important;
    color: #000 !important;
	position: relative;
	
	:after {
		content: 'This payment will posted as late.';
		width: 125px;
		background: #fff;
		border: solid 1px #ff0000;
		font-size: 0.85em;
		color: #000;
		position: absolute;
		top: 0;
		left: 100%;
	}
}


    </style>
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Plateforme de réservation</h1>
      <p>
        Bienvenue sur le site de réservation des billets d'entrée au Louvre
      </p>
      
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Réserver un billet</a></li>
        </ul>

        <h4>Dernières promotions</h4>
        
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  
  </body>
</html>
