{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "LVReservationBundle::layout.html.twig" %}

{% block body %}

  <h2>Commander des billets d'entrée au musée</h2>

  {{ include("LVReservationBundle:Command:form.html.twig") }}

  <p>
    Merci de renseigner les informations nécessaires pour réaliser votre commande
  </p>

{% endblock %}
