{# src/LV/ReservationBundle/Resources/views/Command/paiement.html.twig #}

{% extends "LVReservationBundle::layout.html.twig" %}

{% block body %}

  <h2>Commander vos billets d'entrée au musée</h2>
  
  <p>
    Merci pour votre commande. Vous recevez un Email de confirmation.
  </p>

{% endblock %}
