{# src/LV/ReservationBundle/Resources/views/Command/paiement.html.twig #}

{% extends "LVReservationBundle::layout.html.twig" %}

{% block body %}

  <h2>Commander vos billets d'entrée au musée</h2>
   
  {{ include("LVReservationBundle:Command:paiementForm.html.twig") }}
 
  <p>
    Merci de renseigner les informations nécessaires pour réaliser votre commande
  </p>

{% endblock %}
