{# src/LV/ReservationBundle/Resources/view/Advert/view.html.twig #}

{% extends "LVReservationBundle::layout.html.twig" %}

{% block title %}
  Confirmation
{% endblock %}

{% block titlesub %}
<h1>Confirmation</h1>
{% endblock %}

{% block lvplatform_body %}
  <div class="well">
      
    <div>
      {# On affiche tous les messages flash dont le nom est « commande » #}
      {% for message in app.session.flashbag.get('commande') %}
        <p>{{ message }}</p>
      {% endfor %}
      {# On affiche tous les messages flash dont le nom est « billetsmax » #}
      {% for message in app.session.flashbag.get('billetsmax') %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
        
        
  </div>
{% endblock %}
